#Bblablabalba TODO: Explain more about CODEOWNERS

# CODEOWNERS inspects files from its TODO: Finishthis
# Format: /path/to/file @username @org/team

#TODO: Probs re-sort this to match teams
# The order of the lines in this file is mostly in 'natural sort' order, where any path that begins with a character is earlier
# than alphabetical characters (ex. .github is the first thing because it begins with a . then .gitignore is next because it also
# begins with a period, but is alphabetically "later" than .github)

#TODO: Mention that some paths/files are specifically NOT in here to test CODEOWNERS action(s) that should alert user via PR comment??? that this is the case


# ANY README is also owned by Peach's team (example of owning specific filename regardless of directory.)
# ** means match any directory/subdirectory. Since ** is being used at the top-level, it will look thru all folders in this repo for files named "README.md"
**/README.md @org-mushroom-kingdom/team-peach


# Toad's team owns the file in ANY folder named 'images' throughout the repo (example of non-root based ownership)
images/ @org-mushroom-kingdom/team-toad

#Note: This purposefully has tabs in it to better test string splitting logic in read-thru-codeowners.sh 
# Luigi's team owns everything in org/ and its subdirectories (example of recursively owning all files/folders in a directory)
/org/      @org-mushroom-kingdom/team-luigi

# Anything in shell-scripts/ (NOT subdirectories) that is a *.sh file is owned by Mario's team (example of owning certain files/exts in a directory, nonrecursively)
/shell-scripts/*.sh @org-mushroom-kingdom/team-mario

# However, Peach's team should own the documentation for it (example of owning specific file)
/shell-scripts/info.txt @org-mushroom-kingdom/team-peach

# Toad's team owns this specific file
/sandbox/other/sub1/dummy-txt1.txt @org-mushroom-kingdom/team-toad

# Mario's team owns any *.sh files in sub1
/sandbox/other/sub1/*.sh @org-mushroom-kingdom/team-mario

# Luigi's team owns everything in sub2 and its subdirectories
/sandbox/other/sub1/sub2/ @org-mushroom-kingdom/team-luigi


# Mario's team owns everything in sub_a, but NOT any of its subdirectories (e.g. sub_b) (example of owning all files/folders in a directory, NOT recursively)
# This covers ...sub_a/enemyTypes1.csv
/sandbox/other/sub_a/* @org-mushroom-kingdom/team-mario

#TODO: Elaborate on extensionless vs example/ 
# /sandbox/other/sub_a/sub_b/sub_c @org-mushroom-kingdom/team-mario

# TODO: Make peachList*.csv files
# Peach's team owns any csv file whose name begins with 'peachList' (example of owning files/exts with prefix matching)
/sandbox/other/sub_a/sub_b/peachList*.csv @org-mushroom-kingdom/team-peach

# TODO: Make *marioOnly.csv files
# Mario's team owns any csv file whose name ends with 'marioOnly' (example of owning files/exts with suffix matching)
/sandbox/other/sub_a/sub_b/*marioOnly.csv @org-mushroom-kingdom/team-mario

# TODO: Make toad csvs
# Toad's team owns files that begin with 'onlyToad' and end with 'toadOnly', with whatever in the middle.
/sandbox/other/sub_a/sub_b/onlyToad*toadOnly.csv @org-mushroom-kingdom/team-toad

# Luigi's team owns the Jenkinsfile (example of owning an extensionless file)
/sandbox/other/sub_a/sub_b/Jenkinsfile @org-mushroom-kingdom/team-luigi

/test-json-output.txt @org-mushroom-kingdom/team-peach