# Informative: Example #2 of a caller workflow calling a reusable workflow located in a different repo 


name: Example Caller Workflow 2 (Get users from a team)

on:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
        team_slug: 
            description: "Team name"
            required: false
            type: choice
            options:
              - team-mario
              - team-luigi
              - team-peach
              - team-toad
env:
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    TEAMS_READ_TOKEN: ${{ secrets.TEAMS_READ_ACCESS }}



jobs:
  # Call reusable-workflow-2-teams from mcummings128/reusable-workflow-github-actions repo.
  call-reusable-workflow-2:
    runs-on: ubuntu-latest
    # name: Call mcummings128/reusable-workflow-2... workflow
    # NOTICE that when you call this manually, it will say the event was workflow_dispatch. Remember the workflow being called (see next line)
    # is located in another repo, so it might be surprising this isn't workflow_call. This is because (see next line)
    # The 'github' context will always reference the caller workflow's repository (this workflow is the caller workflow, and we call the workflow below (see next line)
    # manually via workflow_dispatch, which is why you see that as the listed event
    # uses: mcummings128/reusable-workflow-github-actions/.github/workflows/reusable-workflow-2-teams.yml@a0ac798420e899465ccf75d80cb6625f106f2726
    # ???
    #   mapfile -t team_names < <(gh api -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" -H "Authorization: Bearer $TEAMS_READ_TOKEN" orgs/$ORG/teams | jq -r '.[].slug')
    steps:
        - name: Echo relevant vars
          run: echo "team_slug = ${{ inputs.team_slug }}"
        - name: Get team members
          run: |
            mapfile -t team_members < <(gh api -H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" -H "Authorization: Bearer $TEAMS_READ_TOKEN"  /orgs/org-mushroom-kingdom/teams/${{ inputs.team_slug }}/members | jq -r '.[].login')
            for member in team_members
            do
                echo "member = $member"
            done
            # gh api \-H "Accept: application/vnd.github+json" -H "X-GitHub-Api-Version: 2022-11-28" -H "Authorization: Bearer $TEAMS_READ_TOKEN"  /orgs/org-mushroom-kingdom/teams/${{ inputs.team_slug }}/members | jq -r '.[].login')
            # echo "something"