# Informative: Example #2 of a caller workflow calling a reusable workflow located in a different repo (Gets the team members of a given team)
# Basically you leverage the reusable workflow's code, more or less. The code gets called within the context of the caller workflow's repo
# In this case, we give a team_slug and a token in order to make an API call and use the results of that call to print individual usernames for a team.   


name: Example Caller Workflow 2 (Get users from a team)

on:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
        team_slug: 
            description: "Team name"
            required: false
            type: choice
            options:
              - team-mario
              - team-luigi
              - team-peach
              - team-toad

jobs:
  # Call reusable-workflow-2-teams from mcummings128/reusable-workflow-github-actions repo.
  # The token that gets passed to the reusable workflow has org:read access, needed for the API call in the reusable workflow
  call-reusable-workflow-2:
    name: Call mcummings128/reusable-workflow-2... workflow
    uses: mcummings128/reusable-workflow-github-actions/.github/workflows/reusable-workflow-2-teams.yml@083716f6ea280b43257709ee3dd7b7f4e79ae71f
    secrets:
        teams_read_token: ${{ secrets.TEAMS_READ_ACCESS }}
    with: 
        team_name: "${{ inputs.team_slug }}"