# Business: Example of using a workflow as a status check for a branch protection rule
# This particular status check applies to the team-luigi-rules ruleset, which requires all status checks to pass
# A status check in this context can be considered passing if the exit code returned is 0
# The check: For any PR whose target branch contains "team-luigi" (ex. team-luigi/v1.0) , the source branch must begin with "feature/team-luigi"

name: Team Luigi Status Check

on:

  pull_request:
    branches:
      # This means anything that begins with team-luigi. So it'll apply to any future team-luigi branches ex. team-luigi/v1.1
      - 'team-luigi/*'
    # types: [opened]

  # Allows manual runs--you can use a pre-determined fake branch name here.
  workflow_dispatch:
    inputs:
        pr_manual: 
            description: "Feature branch name"
            required: false
            type: choice
            options:
                # TODO: Make these real pull requests
                # This should pass.
                - feature/team-luigi/refine-some-file (#44)
                # This should fail
                - feature/ex-team-luigi-wrong-formatted (#TODO2)


env:
    # This token gets passed to the reusable workflow. It has org:read access, needed for the API call in the reusable workflow
    SOURCE_BRANCH: ${{ github.head_ref }}
    PR_NUMBER: ${{ github.event.number }}
    GREEN: '\033[1;32m'
    RED: '\033[1;31m'
    DONE: '\033[0m' 

jobs:
  # Call reusable-workflow-2-teams from mcummings128/reusable-workflow-github-actions repo.
  check-naming-convention:
    
    name: Check source branch naming convention
    
    runs-on: ubuntu-latest
    
    permissions:
        pull-requests: write
    
    steps:
  
      # If running manually, override source branch name with input used  
      - name: "Manual run: Use inputs for spoofed PR fb name, PR num, team-luigi branch name"
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
            # Use [[:digit:]] (ERE/POSIX-based) here since Bash doesn't like to support /d (PCRE).  
            if [[ "${{github.event.inputs.pr_manual}}" =~ [[:digit:]]{2} ]]; then 
                pr_man_number=${BASH_REMATCH[0]}  
            fi
            echo "Setting env PR_NUMBER to ${pr_man_number}"
            echo "PR_NUMBER=$pr_man_number" >> $GITHUB_ENV
            pr_man_name=$(echo "${{ github.event.inputs.pr_manual }}" | cut -d " " -f 1)
            echo "Setting env SOURCE_BRANCH to ${pr_man_name}"
            echo "SOURCE_BRANCGE=$pr_man_name" >> $GITHUB_ENV
            
            # echo "SOURCE_BRANCH=${{ github.event.inputs.pr_manual }}" >> $GITHUB_ENV
            echo "[ERROR] Temp early exit"
            exit 1
      - name: Echo relevant vars
        run: |
          echo "Source branch: $SOURCE_BRANCH"
          echo "Source branch: $SOURCE_BRANCH"
          echo "PR Number: $SOURCE_BRANCH"
        
      - name: Assess source branch naming conventions
        run: |
            # Use the resulting status code to mark the status check as passed (0) or failed (1)
            # Combining this with the 'Required status checks must pass' will NOT allow the PR to merge if failed
            if [[ "$SOURCE_BRANCH" == "feature/team-luigi"* ]]
            then
                echo -e "$GREEN Success: The source branch '$SOURCE_BRANCH' matches the required naming convention $DONE"
                exit 0
            else
                echo -e "$RED ERROR! The source branch '$SOURCE_BRANCH' does NOT match the required naming convention $DONE"
                exit 1
            fi
        
      - name: "Failure: Comment on PR"
        if: failure()
        run: gh pr comment ${{ github.event.number }} -b "ERROR! The pull request cannot be merged. Branches being merged into ${{ github.base_ref }} must have the format of 'feature/team-luigi/*' (where * is the rest of your feature branch name)."