# Business: This automatically creates an issue using a schedule/cron. 
# TODO: This is also an example of using matris
# TODO: Replace all instances of placeholder!!

# Per Github documentation "A matrix strategy lets you use variables in a single job definition to 
# automatically create multiple job runs that are based on the combinations of the variables. "

# TODO: Idea --> Create two different issues with different templates but on same schedule?
# TODO: Use github.event.schedule to get the precise cron expression that triggered the workflow
name: Closing PR Comment w timestamp

on:
  schedule:
    - cron: '0 0 * * 3' # At 00:00, every month, every week, ONLY Wednesday (3)

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      template:
        description: "Issue Template"
        required: false
        type: choice
        options: 
          - placeholder1
          - placeholder2

jobs:
  placeholder:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    env:
      TEMPLATE_USED: ${{ github.event.schedule }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      matrix:
        issue_template: ["schedule-generated-issue-template1.yml", "schedule-generated-issue-template2.yml"]
        placeholder2: [1,2]
    steps:
      - name: "placeholder"
        run: echo "placeholder"
      
      - name: Get Issue Template
        env:
          ISS_TEMP: ${{ matrix.issue_template }}
        run: |
          echo "This issue template (ISS_TEMP) for this job is $ISS_TEMP."
          echo "This step should get the issue template from above, and write its contents to env"
          # echo "This issue template for this job is ${{ matrix.issue_template }}."
          # TEMPLATE=$(cat .github/ISSUE_TEMPLATE/log_report.md)


      - name: Get Issue Template
        run: echo "This should make a new issue using an issue template."